.list-widget {
  position: absolute;
  top: 64px;
  bottom: 52px;
  overflow-y: scroll;
  width: 100%;

  .list-item {
    display: grid;
    grid-template-columns: auto 100%;

    .checkbox {
      display: inline-block;

      input {
        height: 24px;
        width: 24px;
        margin: 4px;
      }
    }

    .item-body {
      display: inline-block;
      border-bottom: 1px solid black;
      line-height: 32px;
    }
  }
}