.home-page {
  .events {
    .agenda-view-content {
      width: 34%;
    }
  }

  .tasks .notes-page {
    left: 34%;
    right: 33%;
    width: 33%;
  }

  .notes .notes-page {
    left: 67%;
    right: 0;
    width: 33%;
  }
}