.home-page {
  .events,
  .tasks,
  .notes {
    display: none;
  }

  .bottom-navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
  }

  .visible {
    display: block;
  }

  @media (min-width: 1000px) {
    .bottom-navigation {
      display: none;
    }

    .events {
      display: block;

      .notes-page {
        width: 34%;
      }

      .agenda-view-content {
        width: 34%;
      }
    }

    .tasks {
      display: block;

      .agenda-view-content, .notes-page {
        left: 34%;
        right: 33%;
        width: 33%;
      }
    }

    .notes {
      display: block;

      .agenda-view-content, .notes-page {
        left: 67%;
        right: 0;
        width: 33%;
      }
    }
  }
}
