body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
    padding: 8px;
    background-color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin-bottom: 1rem;
}

button {
    padding: 0;
    width: 100px;
}