.signup-page {
  margin-top: 64px;

  a {
    text-decoration: none;
  }

  #use-without-account {
    text-align: center;
    padding: 12px 0;
  }

  #signup-button {
    margin-top: 16px;
  }

  .logo {
    text-align: center;
  }

  .errors {
    font-weight: bold;
    text-align: center;
    color: #EB5160;
  }
}
