.note-list {

  position: fixed;
  top: 112px;
  bottom: 104px;
  width: 100%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column-reverse;

  .note-list-item {
    .right-icon {
      margin-right: -16px;
    }
  }
}