.note-list {
  position: fixed;
  top: 112px;
  bottom: 104px;
  width: 100%;
  overflow-y: auto;

  display: flex;
  flex-direction: column-reverse;

  .note-list-item {
    .right-icon {
      display: none;
    }

    &:hover {
      .right-icon {
        display: inline-block;
      }
    }

    &.selected {
      background-color: #3f51b5;

      .right-icon {
        display: inline-block;
      }
    }

    .right-icon {
      margin-right: -16px;
    }
  }
}
