.collapsible-note-item-wrapper {
  .divider {
    border-bottom: 1px solid rgba($color: #555, $alpha: 1);

    &.highlight {
      border-color: #3f51b5;
    }
  }

  .collapsible-note-item {
    .drop-container {
      display: flex;
    }

    &.empty {
      .bullet-icon {
        opacity: 0.25;
      }
    }

    &:first-child {
      border-left: none;
    }

    border-left: 1px solid black;

    .block-expand {
      visibility: hidden;
    }

    .hidden {
      visibility: hidden !important;
    }

    &:hover {
      .block-edit,
      .block-expand {
        visibility: visible;
        cursor: pointer;
      }
    }

    .bullet-icon-wrapper {
      width: 16px;
      text-align: center;
    }

    .block-edit {
      width: 16px;
      text-align: center;
      visibility: hidden;
    }

    .note-date {
      input {
        border: none;
        visibility: hidden;

        &:hover {
          visibility: visible;
        }
      }
    }

    textarea {
      border: none;
      resize: none;
      width: 100%;
    }

    .note-text {
      margin: 1px;
      white-space: pre-wrap;
      width: 100%;

      overflow-wrap: break-word;
      word-wrap: break-word;

      -ms-word-break: break-all;
      /* This is the dangerous one in WebKit, as it breaks things wherever */
      word-break: break-all;
      /* Instead use this non-standard one: */
      word-break: break-word;

      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }

    p {
      margin: 0;
    }
  }

  &.task_completed {
    color: #ddd;
  }
}
