.collapsible-note-item {
  display: flex;

  &:first-child {
    border-left: none;
  }

  border-left: 1px solid black;

  .block-expand {
    visibility: hidden;
  }

  &:hover {
    .block-expand {
      visibility: visible;
      cursor: pointer;
    }
  }

  textarea {
    border: none;
    resize: none;
    width: 100%;
  }

  .note-inactive {
    margin: 1px;
  }

  p {
    margin: 0;
  }
}
