.collapsible-note-item {
  display: flex;

  &:first-child {
    border-left: none;
  }

  border-left: 1px solid black;

  .block-expand {
    visibility: hidden;
  }

  .hidden {
    visibility: hidden !important;
  }

  &:hover {
    .block-edit,
    .block-expand {
      visibility: visible;
      cursor: pointer;
    }
  }

  .bullet-icon-wrapper {
    width: 16px;
    text-align: center;
  }

  .block-edit {
    width: 16px;
    text-align: center;
    visibility: hidden;
  }

  textarea {
    border: none;
    resize: none;
    width: 100%;
  }

  .note-inactive {
    margin: 1px;
    white-space: pre-wrap;
  }

  p {
    margin: 0;
  }
}
