* {
  box-sizing: border-box;
}

textarea:focus, input:focus {
  outline: none;
}

.App {
  height: 100vh;
  overflow: hidden;
}

body {
  overflow: hidden;
}

.content {
  margin-top: 32px;
  height: calc(100% - 32px);
}