* {
  box-sizing: border-box;
}

*,
*:focus {
  outline: none;
}

textarea,
input {
  background-color: #303030;
  caret-color: white;
  color: white;
}

.App {
  height: 100vh;
  overflow: hidden;
  background-color: #303030;
}

body {
  overflow: hidden;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: #3f51b5;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 8px;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

a {
  color: #90caf9;
}

code {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
}