.zapier-help-page {
  position: absolute;
  top: 64px;
  bottom: 0px;
  width: 100%;
  overflow-y: scroll;

  .keys {
    display: table;
    width: 100%;

    td {
      padding: 4px;
    }

    .key {
      input {
        width: 100%;
      }
    }
  }

  img {
    width: 100%;
  }
}
