.debug-notes-page {
  position: fixed;
  top: 64px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-y: scroll;

  .page-content {
    position: absolute;
    right: 16px;
    left: 16px;
    top: 16px;
    bottom: 16px;

    .actions {
      margin-bottom: 16px;
    }
  }
}
