.list-widget-item {
  width: 100%;
  border-bottom: 1px solid black;
  padding: 8px;
  display: table;

  .list-item-content {
    display: table-cell;
    width: 100%;

    .list-item-text {
      word-break: break-all;
      white-space: pre-wrap;

      textarea {
        width: 100%;
        resize: vertical;
      }

      p {
        margin: 0;
      }
    }
  }

  .list-item-secondary {
    font-size: 0.75em;
    color: gray;
  }

  .list-item-actions {
    display: table-cell;
  }
}
