.header {
  .search {
    @media (max-width: 600px) {
      .title {
        display: none;
      }
    }
  }

  #date {
    color: white;

    &::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }

    width: 140px;
  }

  #date-range-button {
    color: white;
  }

  svg {
    color: white;
  }

  .spacer {
    flex-grow: 1;
  }
}

.drawer-contents {
  width: 250px;

  a {
    text-decoration: none;
    color: inherit;
  }
}
