.header {
  #date {
    color: white;

    &::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }
  }

  #date-range {
    color: white;
  }

  svg {
    color: white;
  }
}

.drawer-contents {
  width: 250px;

  a {
    text-decoration: none;
    color: inherit;
  }
}