.header {
  height: 32px;
  background-color: #1C1C1E;
  color: white;
  display: grid;
  grid-template-columns: 50px auto 50px;
  align-items: center;
  font-weight: bold;

  .title {
    display: inline-block;
    text-align: center;
  }
  
  .left-button, .right-button {
    display: inline-block;
    text-align: center;
  }

  button {
    border-radius: 12px;
    background-color: white;
    border: none;
    cursor: pointer;
  }
}