.agenda-view {
  position: fixed;
  top: 64px;
  bottom: 0px;
  width: 100%;
  overflow-y: scroll;

  .agenda-view-item {
    padding: 8px;
    display: flex;
    .agenda-view-item-left {
      text-align: right;
      margin-top: 4px;
      margin-right: 4px;
      font-size: 0.8em;
      width: 40px;
    }

    .agenda-view-item-content {
      width: 100%;

      .agenda-view-slot {
      }
    }
  }
}
