.log-page {
  position: fixed;
  top: calc(64px + 48px);
  bottom: 0px;
  width: 100%;

  .log-page__content {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    height: 100%;
  }

  .log-page__notes-container {
    position: absolute;
    top: 0px;
    bottom: 65px;
    width: 100%;
    display: flex;
  }

  .log-page__notes {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;

    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */

    &::-webkit-scrollbar {
      display: none;
      /* Safari and Chrome */
    }
  }

  .log-page__footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #424242;
  }

  .log-page__textBox {
    max-width: 960px;
    margin: 0 auto;
  }
}