#notes {
  .note {
    max-width: 100%;
    word-break: break-word;
    word-wrap: break-word;
  }

  .note-body {
    padding: 6px;
    display: inline-block;
    background-color: #fff;
    border-bottom: 1px solid black;
    width: 100%;
    white-space: pre-wrap;
  }
}

.notes-page {
  position: absolute;
  top: 32px;
  bottom: 52px;
  width: 100%;
  overflow-y: scroll;
}