.edit-note-page {
  .edit-note-page-content {
    position: fixed;
    top: 64px;
    bottom: 0px;
    width: 100%;
    overflow-y: scroll;
  }

  .title {
    font-weight: 700;
    font-size: 40px;
    margin-left: 8px;
    outline: 0;
  }
}
