.edit-note-page {
  position: fixed;
  top: 64px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-y: scroll;
  .edit-note-page-content {
    max-width: 960px;
    padding: 16px;
    margin: 0 auto;
  }

  .title {
    font-weight: 700;
    font-size: 40px;
  }
}
