.view-note-page {
  position: absolute;
  top: 64px;
  bottom: 0px;
  width: 100%;
  overflow-y: scroll;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}