.login-page {
  margin-top: 64px;

  a {
    text-decoration: none;
  }

  #use-without-account {
    text-align: center;
    padding: 12px 0;
  }

  #login-button {
    margin: 16px 0;
  }

  .logo {
    text-align: center;
  }
}
