.login-page {
  position: fixed;
  top: 64px;
  bottom: 0px;
  width: 100%;
  overflow: scroll;

  a {
    text-decoration: none;
  }

  #use-without-account {
    text-align: center;
    padding: 12px 0;
  }

  #login-button {
    margin: 16px 0;
  }

  .logo {
    text-align: center;
  }
}
