.header {
  .menu-icon {
    position: absolute;
    left: 16px;
  }

  .search-icon {
    position: absolute;
    right: 16px;
  }

  .search {
    @media (max-width: 600px) {
      .title {
        display: none;
      }
    }
  }

  #date {
    color: white;

    &::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }
  }

  #date-range-button {
    color: white;
  }

  svg {
    color: white;
  }

  .spacer {
    flex-grow: 1;
  }
}

.drawer-contents {
  width: 250px;

  a {
    text-decoration: none;
    color: inherit;
  }

  .drawer-footer {
    position: fixed;
    bottom: 8px;
    width: 250px;
  }
}
